NEXT_PUBLIC_API_URL=http://localhost:5005/api
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001

# Huuchin aiagent code dotor Supabase ashiglasan page-uud baigaa tul odoohondoo ene 2 key heregtei.
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
